body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
td{
    text-align: left;
}
input{
    margin: 5px 0px;
}
.container {
    width: 87%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.containerChild{
    float: center;
    width: 50%;
    min-height: 170px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}
.button{
    float: right;
    margin: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    height: 25px;
    width: 150px;
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.button:hover {
    background-color: #e3e7ce;
    color: #4CAF50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.date{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #d84444;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    width: 200px;
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(8, 21, 2, 0.5); 
    background: #ece9e9;
    color: #140202; 
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inputText{
    width: 10%; 
    height: 13px;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #333; 
}
.inputText；focus{
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5)  
}