body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
td{
    text-align: center;
}
.reserve{
    float: left;
    width: 45%;
    height: 10%;
    border-right: 100px;
    border-left: 100px;
    min-height: 100px;
    background-color: #f9f9f9;
    margin: 5px 30px 5px 30px;

}
.reserveButton{
    background-color: #4CAF50; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    border-radius: 4px;
    height: 200px;
    width: 300px;
    
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.reserveButton:hover {
    background-color: #e3e7ce;
    color: #4CAF50;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
.container {
    width: 87%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.calendar{
    float: left;
    width: 12%;
    min-height: 100px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
}
.calendar2{
    float: left;
    width: 12%;
    min-height: 200px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
}
.day {
    float: left;
    width: 13.7%;
    border-right: 1px solid #ddd;
    min-height: 100px;
    background-color: #f9f9f9;
}
.day:last-child {
    border-right: none;
}

.footer {
    background-color: #6b6868;
    color: white;
    text-align: center;
    padding: 10px;  
    bottom: 100%;
    height: 17px;
    width: 100%;
    margin: 0;
    position: absolute;
}
