body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 87%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.tableContainer {
    width: 95%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.containerChild{
    float: left;
    width: 29%;
    min-height: 170px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}
.display{
    float: left;
    width: 95%;
    min-height: 370px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}
.inputText{
    width: 10%; 
    height: 13px;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #333; 
}
.inputText；focus{
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5)  
}