button{
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: white;
    min-height: 30px;
}
button:hover{
    background-color: #F0F0F0;
    border-radius: 5px;
    border: none;
    color: #4CAF50;
    min-height: 30px;
    transition: .5s;
}
.date{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 1px solid #d84444;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    width: 200px;
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(8, 21, 2, 0.5); 
    background: #ece9e9;
    color: #140202; 
    padding: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.inputText{
    width: 10%; /* 设置输入框宽度为100% */
    height: 13px;
    padding: 5px; /* 设置内边距 */
    border: 1px solid #ccc; /* 设置边框 */
    border-radius: 4px; /* 设置边框圆角 */
    font-size: 16px; /* 设置字体大小 */
    color: #333; /* 设置文字颜色 */
}
.inputText；focus{
    border-color: #007bff; /* 更改焦点时的边框颜色 */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5)  
}
.container {
    width: 87%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.containerChild{
    float: center;
    width: 50%;
    min-height: 170px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}
