.container {
    width: 87%;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    padding: 5px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.containerChild{
    float: center;
    width: 50%;
    min-height: 170px;
    border-right: 1px solid #ddd;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 10px;
}
.inputText{
    width: 10%; 
    height: 13px;
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #333; 
}
.inputText；focus{
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5)  
}